<!DOCTYPE html>
<html lang="en">
  <head>

  <!-- META -->
    {{! Page Meta }}
    <title>{{meta_title}}</title>

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/skeleton.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />

  <!-- GITHUB Page stuff -->
  <link rel="stylesheet" type="text/css" href="{{asset "css/github-calendar-responsive.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/github-calendar.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/github-widget.css"}}" />

  <script type="text/javascript" src="{{asset "lib/github-calendar.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/github-widget.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/github-widget.min.js"}}"></script>

  <!-- highlightjs -->
  <link rel="stylesheet" href="{{asset "css/custom.css"}}"/>
  <script src="{{asset "lib/highlight.pack.js"}}"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- tables css by purecss -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@1.0.0/build/tables-min.css" />

  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{asset "/images/favicon.ico"}}">

  {{ghost_head}}
  </head>

  <!-- BODY -->
  <body class="{{body_class}} nav-closed">

		<div class="container">

			{{{body}}}

      <div class="container">
        <footer id="footer" class="twelve columns">
         <section class="copyright"> <a href="{{@blog.url}}"> &copy; {{@blog.title}}</a> {{date format="YYYY"}}</section>
           <a href="{{twitter_url}}">
             <i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
           <a href="{{facebook_url}}">
             <i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
           <a href="{{@blog.url}}/rss">
             <i class="fa fa-rss" aria-hidden="true"></i>
           </a>
        </footer>
      </div> <!-- end footer div.container -->
    </div>  <!-- end footer div.table-block -->

    {{ghost_foot}}

  </body>
</html>
